<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>接口列表</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/admin/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/admin/css/user.css" media="all" />
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote news_search">
		<div class="layui-inline">
		    <div class="layui-input-inline">
		    	<input type="text" value="" placeholder="请输入关键字" class="layui-input search_input">
		    </div>
		    <a class="layui-btn search_btn">查询</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-normal btn_add">添加友链</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel">批量删除</a>
		</div>
		<div class="layui-inline">
			<div class="layui-form-mid layui-word-aux"></div>
		</div>
	</blockquote>
	<div class="layui-form users_list">
	  	<table class="layui-table">
		    <colgroup>
				<col width="50">
				<col width="10%">
				<col width="10%">
				<col width="60">
				<col width="15%">
				<col width="60">
				<col width="15%">
				<col width="10%">
				<col width="15%">
		    </colgroup>
		    <thead>
				<tr>
					<th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
					<th>ID</th> 
					<th>友链名</th> 
					<th>友链URL</th>
					<th>添加日期</th>
					<th>操作</th>
				</tr> 
		    </thead>
		    <tbody class="users_content"></tbody>
		</table>
	</div>
	<div id="page"></div>
	<script type="text/javascript" src="/admin/layui/layui.js"></script>
	<script>
	
layui.config({
		base : "js/"
	}).use(['form','layer','jquery','laypage'],function(){
		var form = layui.form(),
			layer = parent.layer === undefined ? layui.layer : parent.layer,
			laypage = layui.laypage,
			$ = layui.jquery;

		//加载页面数据
		var myDatas = '';
		
		getList();
		
		
		//查询
		$(".search_btn").click(function(){
			var userArray = [];
			var username = $(".search_input").val();
			if(username != ''){
				var index = layer.msg('查询中，请稍候',{icon: 16,time:false,shade:0.8});
	            setTimeout(function(){
	            	$.ajax({
						url : "user",
						type : "get",
						data : {"username":username},
						dataType : "json",
						success : function(d){
							if(d.success){
								myDatas = d.data;
								parseDate(myDatas);
							}else{
								layer.msg("查询失败",{icon:5});
							}
							
						}
					})
	            	
	                layer.close(index);
	            },2000);
			}else{
				layer.msg("请输入需要查询的内容");
			}
		})

		//添加
		$(".btn_add").click(function(){
			var index = layui.layer.open({
				title : "添加",
				type : 2,
				content : "toAdd",
				success : function(layero, index){
					setTimeout(function(){
						layui.layer.tips('点击此处返回会员列表', '.layui-layer-setwin .layui-layer-close', {
							tips: 3
						});
					},500)
				}
			})
			//改变窗口大小时，重置弹窗的高度，防止超出可视区域（如F12调出debug的操作）
			$(window).resize(function(){
				layui.layer.full(index);
			})
			layui.layer.full(index);
		})

		//批量删除
		$(".batchDel").click(function(){
			var $checkbox = $('.users_list tbody input[type="checkbox"][name="checked"]');
			var $checked = $('.users_list tbody input[type="checkbox"][name="checked"]:checked');
			if($checkbox.is(":checked")){
				layer.confirm('确定删除选中的信息？',{icon:3, title:'提示信息'},function(index){
					var index = layer.msg('删除中，请稍候',{icon: 16,time:false,shade:0.8});
		            setTimeout(function(){
		            	//删除数据
		            	for(var j=0;j<$checked.length;j++){
		            		for(var i=0;i<myDatas.length;i++){
								if(myDatas[i].newsId == $checked.eq(j).parents("tr").find(".news_del").attr("data-id")){
									myDatas.splice(i,1);
									parseDate(myDatas);
								}
							}
		            	}
		            	$('.users_list thead input[type="checkbox"]').prop("checked",false);
		            	form.render();
		                layer.close(index);
						layer.msg("删除成功");
		            },2000);
		        })
			}else{
				layer.msg("请选择需要删除的文章");
			}
		})

	    //全选
		form.on('checkbox(allChoose)', function(data){
			var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
			child.each(function(index, item){
				item.checked = data.elem.checked;
			});
			form.render('checkbox');
		});

		//通过判断文章是否全部选中来确定全选按钮是否选中
		form.on("checkbox(choose)",function(data){
			var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
			var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
			if(childChecked.length == child.length){
				$(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
			}else{
				$(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
			}
			form.render('checkbox');
		})

		/*操作 **/
		//编辑
		$("body").on("click",".btn_edit",function(){ 
			var _this = $(this);
			var id = $.trim(_this.attr("data-id"));
			var index = layui.layer.open({
					title : "编辑",
					type : 2,
					content : id,
					success : function(layero, index){
						setTimeout(function(){
							layui.layer.tips('点击此处返回接口列表', '.layui-layer-setwin .layui-layer-close', {
								tips: 3
							});
						},500)
					}
				});
			//改变窗口大小时，重置弹窗的高度，防止超出可视区域（如F12调出debug的操作）
			$(window).resize(function(){
				layui.layer.full(index);
			})
			layui.layer.full(index);
		});

		//删除
		$("body").on("click",".btn_del",function(){  
			var _this = $(this);
			var id = $.trim(_this.attr("data-id"));
			layer.confirm('确定删除？',{icon:3, title:'提示信息'},function(index){
					$.ajax({
						type:"delete",
						url:id,
						dataType:"json",
						success:function(d){
							if(d.success){
								getList();
								layer.msg(d.resMsg);
							}
						}
					});
			layer.close(index);
			});
		})

		//得到全部数据
		function getList(){
			$.ajax({
				url : "list",
				type : "get",
				dataType : "json",
				success : function(d){
					//更新数据
					//renderDate(d.data);
					myDatas = d.data;
					parseDate();
				}
			});
		}
		
		function parseDate(){
			
			//渲染数据
			function renderDate(data,curr){
				var dataHtml = '';
				currData = myDatas;
				if(currData.length != 0){
					for(var i=0;i<currData.length;i++){
						var role = '管理员';
						//for(var j=0; j<currData[i].roleSet.length;j++){
						//	role += currData[i].roleSet[j].name;
						//	role +=",";
						//}
						dataHtml += '<tr>'
				    	+  '<td><input type="checkbox" name="checked" lay-skin="primary" lay-filter="choose"></td>'
				    	+  '<td>'+currData[i].id+'</td>'
				    	+  '<td>'+currData[i].name+'</td>'
				    	+  '<td>'+currData[i].url+'</td>'
						+  '<td>'+currData[i].createTime+'</td>'
				    	+  '<td>'
						+    '<a class="layui-btn layui-btn-mini btn_edit" data-id="'+currData[i].id+'"><i class="iconfont icon-edit">&#xe640;</i> 编辑</a>'
						+    '<a class="layui-btn layui-btn-danger layui-btn-mini btn_del" data-id="'+currData[i].id+'"><i class="layui-icon">&#xe640;</i> 删除</a>'
				        +  '</td>'
				    	+'</tr>';
					}
				}else{
					dataHtml = '<tr><td colspan="12">暂无数据</td></tr>';
				}
			    return dataHtml;
			}

			//分页
			var nums = 10; //每页出现的数据量
			laypage({
				cont : "page",
				pages : 10,
				jump : function(obj){
					$(".users_content").html(renderDate(myDatas,obj.curr));
					$('.users_list thead input[type="checkbox"]').prop("checked",false);
			    	form.render();
				}
			})
		}
	})
	</script>
</body>
</html>