<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>接口信息 </title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/admin/layui/css/layui.css" media="all" />
	<style type="text/css">
		.layui-form-item .layui-inline{ width:33.333%; float:left; margin-right:0; }
		@media(max-width:1240px){
			.layui-form-item .layui-inline{ width:100%; float:none; }
		}
	</style>
</head>
<body class="childrenBody">
	<form class="layui-form" style="width:80%;">
		<div class="layui-form-item">
			<label class="layui-form-label">公告标题</label>
			<div class="layui-input-block">
				<input name="id" type="hidden" th:value="${announce.id}">
				<input name="title" th:value="${announce.title}"  class="layui-input" lay-verify="required" placeholder="请输入公告标题">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">内容</label>
			<div class="layui-input-block">
				<textarea name="content" placeholder="请输入内容" class="layui-textarea myself" th:text="${announce.content}"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">添加日期</label>
			<div class="layui-input-block">
				<input name="createTime" th:value="${announce.createTime}"  class="layui-input password" >
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="changeInfo">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
	<script type="text/javascript" src="/admin/layui/layui.js"></script>
	<script type="text/javascript">
	
	var $;
	layui.config({
		base : "js/"
	}).use(['form','layer','jquery'],function(){
		var form = layui.form(),
			layer = parent.layer === undefined ? layui.layer : parent.layer,
			laypage = layui.laypage;
			$ = layui.jquery;

		//提交修改表单
	 	form.on("submit(changeInfo)",function(data){
	 		//弹出loading
	 		var id = $("#id").val();
	 		var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
	        setTimeout(function(){
	            top.layer.close(index);
	        	$.ajax({
	        		url : id,
	        		type : "put",
	        		data : data.field,
	        		dataType : "json",
	        		success : function(d){
	        			if(d.success){
	        				layer.msg(d.msg,{ icon: 6 });
	        				layer.closeAll("iframe");
	        		 		//刷新父页面
	        		 		parent.location.reload();
	        			}else{
	        				top.layer.msg(d.msg,{ icon: 5 });
	        				layer.closeAll("iframe");
	        		 		//刷新父页面
	        		 		parent.location.reload();
	        			}
	        		}
	        	});
	        },500);
	 		return false;
	 	})
	})

	//格式化时间
	function formatTime(_time){
	    var year = _time.getFullYear();
	    var month = _time.getMonth()+1<10 ? "0"+(_time.getMonth()+1) : _time.getMonth()+1;
	    var day = _time.getDate()<10 ? "0"+_time.getDate() : _time.getDate();
	    var hour = _time.getHours()<10 ? "0"+_time.getHours() : _time.getHours();
	    var minute = _time.getMinutes()<10 ? "0"+_time.getMinutes() : _time.getMinutes();
	    return year+"-"+month+"-"+day+" "+hour+":"+minute;
	}
	</script>
</body>
</html>