<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>403</title>
	<!-- Global stylesheets -->
	<link href="/admin/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/admin/css/components.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->
</head>
<body class="navbar-bottom">
	<!-- Page container -->
	<div class="page-container">
		<!-- Page content -->
		<div class="page-content">
			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Error title -->
				<div class="text-center content-group">
					<h1 class="error-title">403</h1>
					<h3>很抱歉，你没有权限，不能访问！</h3>
				</div>
			</div>
		</div>
	</div>
	<!-- /page container -->
</body>
</html>
