<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="layui/css/layui.css"/>
<script src="layui/layui.js" type="text/javascript"></script>
<title>VIP资源解析--示例</title>
</head>
<body>
<ul class="layui-nav layui-layout-center">
  <li class="layui-nav-item layui-this"><a href="">解析音乐</a></li>
  <li class="layui-nav-item"><a href="">解析视频</a></li>
  <li class="layui-nav-item"><a href="">待定</a></li>
  <li class="layui-nav-item">
    <a href="javascript:;">我的</a>
    <dl class="layui-nav-child"> <!-- 二级菜单 -->
      <dd><a href="">控制中心</a></dd>
      <dd><a href="">会员</a></dd>
      <dd><a href="">退出</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item"><a href="">社区</a></li>
</ul>

<div class="layui-container">  
<div class="layui-row">
    <div class="layui-col-md1"></div>
    
    <div class="layui-col-md5">
    <form class="layui-form" action="">
    	<div class="layui-form-item">
    	<label class="layui-form-label">平台</label>
    	<div class="layui-input-block">
      		<select name="musictype" lay-verify="required">
        		<option value="0">酷狗音乐</option>
        		<option value="1">QQ音乐</option>
      		</select>
      		 <input type="text" name="music" required  lay-verify="required" placeholder="请输入歌曲名字" autocomplete="off" class="layui-input">
    		 <button class="layui-btn" lay-submit lay-filter="formDemo">搜索</button>
    	</div>
    </div>
    </form>
    	<div class="layui-col-md1"></div>
    	<div class="layui-col-md1"></div>
	</div>
</div>














<script>
//注意：导航 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){
  var element = layui.element;
  
});

layui.use('form', function(){
	  var form = layui.form;
	  
	  //监听提交
	  form.on('submit(formDemo)', function(data){
	    //layer.msg(JSON.stringify(data.field));
	    $.ajax({
	    	type: 'GET',
	    	url : 'music/seach'
	    	data: data,
			dataType: 'json'
			success:function(d){
				if(d.success){
					alter(d.data);
					console.info(d.data);
					musics = d.data;
					layui.msg(musics);
				}
			}
	    });
	    return true;
	  });
	});
</script>



</body>
</html>