<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>VIP资源解析</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="VIP资源解析">
<link rel="stylesheet" href="/css/layer.css"
	id="layui_layer_skinlayercss">
</head>
<body>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/layer.css" />
	<link rel="stylesheet" href="/css/default.css" />
	<link rel="stylesheet" href="/css/fileinput.min.css" />

	<!-- 导航栏 -->
	<nav class="navbar navbar-default top-navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar-collapse"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">VIP资源解析</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/music/kugou">酷狗音乐解析<span
							class="sr-only">(current)</span></a></li>
					<li><a href="/music/QQ">QQ音乐解析</a></li>
					<li><a href="/video/tengxun">腾讯视频解析</a></li>
					<li><a href="/video/renren">人人视频解析</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#">留言</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">我的<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">会员</a></li>
							<li><a href="#">积分</a></li>
							<li><a href="#">邮箱</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">退出</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>

<!-- jquery -->
<script src="/js/jquery.js"></script>
<!-- jquery cookie -->
<script src="/js/jquery.cookie.min.js"></script>

<script src="/js/bootstrap.min.js"></script>

<!-- layer -->
<script src="/js/layer.js"></script>


<!--PC和WAP自适应版-->
<div id="SOHUCS" sid="test" ></div> 
<script type="text/javascript"> 
(function(){ 
var appid = 'cyt5nOoY3'; 
var conf = 'prod_22777e3168cef0463e299c52c50cf592'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
	
</body>
</html>