<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>VIP资源解析</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="VIP资源解析">
<link rel="stylesheet" href="/css/layer.css" id="layui_layer_skinlayercss">
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/layer.css"/>
<link rel="stylesheet" href="/css/default.css"/>
<link rel="stylesheet" href="/css/fileinput.min.css"/>
<!-- QQ登录 -->
<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" th:data-appid="${appId}" th:data-redirecturi="${redirecturi}" data-callback="true" charset="utf-8" ></script>
<script src="/js/QQLogin.js"></script>
<!-- jquery -->
<script src="/js/jquery.js"></script>
<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- layer -->
<script src="/js/layer.js"></script>
</head>
<style>
/* QQ头像圆角设置*/
#qqimg{
border-radius: 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
}
</style>
<body>

<!-- 导航栏 -->
    	<nav class="navbar navbar-default top-navigation">
		<div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
			    <span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">VIP资源解析</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse">
			  			  <ul class="nav navbar-nav">
			  	 <!-- 音乐解析 -->
			  	 <li class="dropdown">
			      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">音乐解析<span class="caret"></span></a>
			      <ul class="dropdown-menu">
			        <li><a href="/music/kugou">酷狗音乐解析</a></li>
			        <li><a href="/music/QQ">QQ音乐解析</a></li>
			      </ul>
			    </li>
			    <!-- 视频解析 -->
			  	 <li class="dropdown">
			      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">视频解析<span class="caret"></span></a>
			      <ul class="dropdown-menu">
			        <li><a href="/video/tengxun">腾讯视频解析</a></li>
			        <li><a href="/video/renren">人人视频解析</a></li>
			      </ul>
			    </li>
			    <!-- VIP视频观看 -->
			    <li><a href="/look">VIP视频在线观看</a></li>
			    <li><a href="/install">VIP插件安装</a></li>
			  </ul>
			 <!-- 导航栏右边 -->
			  <ul class="nav navbar-nav navbar-right">
			  	 <!-- 留言 -->
			    <li><a href="/message">留言</a></li>
			     <!--登录 -->
			    <li><a id="qqLoginBtn" href="#">QQ登录</a></li>
			  </ul>
			</div>
		</div>
	</nav>

<!-- content -->
    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <!-- 酷狗音乐 -->
                <div>
     				<h1>腾讯视频真实地址解析</h1>
                    <div class="bs-callout bs-callout-info" id="callout-badges-ie8-empty">
                        <h4></h4>
                        <p>输入你要解析的视频地址</p>
                        <form>
                            <div class="input-group">
                             	<input type="hidden" id="type" name="type" value="0">
                                <input type="text" id="video-url" name="url" class="form-control" placeholder="视频的URL">
                                <span class="input-group-btn">
                                    <button class="layui-btn btn btn-default" onClick="submitAction();return false;">　<i class="glyphicon glyphicon-refresh"></i> 解析　</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div style="margin-top:30px;">
                    
                </div>

                <div style="margin-top:50px;"></div>
     <div class="panel panel-default" id="result">
     		
	 </div>

                <!-- 法律 -->
                <div>
                    <h1>法律</h1>
                    <div id="callout-glyphicons-location" class="bs-callout bs-callout-danger">
                        <h4></h4>
                        <p>不经营自己的源服务器</p>
                        <p>不记录任何上传的信息</p>
                    </div>
                </div>

                <!-- 接口 -->
                <div>
                    <div class="bs-docs-section">
                        <h1>接口</h1>

                        <p>请注意接口使用 <code>频率限制</code>为防止恶意攻击,本站已开启访问频率</p>
                        <span class="nt"><a href="#" target="_blank">接口申请</a></span>
                        <span class="nt"><a href="#" target="_blank">接口文档</a></span>
                        <p>调用接口需要先 <code>申请</code>，审核通过以后才能使用</p>
                    </div>
                </div>
<!-- 关于我们 -->      
<div>
    <h1>关于我们</h1>
	<p>群号码：<a th:text="${qqGroup}"></a></p>
	<p>本群为技术讨论群，群内禁止发布和传播违法色情等信息</p>
	<a target="_blank" th:href="${addgroupUrl}">
	<img border="0" src="/images/group.png" alt="VIP资源解析群" title="VIP资源解析群"></a>
</div>

<!-- 友情链接 -->
<div class="link">
    <h1>友情链接</h1>
    友情链接开放申请
    <a href="http://www.jsons.cn/">JSON工具</a>
    <a href="https://tool.lu/coderunner/">在线代码运行</a>
     <h1>统计</h1>
    已访问次数：
    <!-- start http://count.knowsky.com -->
<script src="http://count.knowsky.com/count1/count.asp?id=171948&sx=1&ys=32" language="JavaScript" charset="gb2312"></script>
<!-- Powered by http://www.knowsky.com -->
    <a href="https://tongji.baidu.com/" target="_blank">百度统计</a>
</div>
 </div>

			<!-- 右侧捐助码 -->
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading">微信捐助二维码</div>
                    <div class="panel-body">
                        <p style="margin:0 auto; width:205px;"><img src="/images/tenpay.jpg" alt="财付通捐赠"></p>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">支付宝捐助二维码</div>
                    <div class="panel-body">
                        <p style="margin:0 auto; width:205px;"><img src="/images/alipay.jpg" alt="支付宝捐赠"></p>
                    </div>
                </div>
<!--公告 -->
<div class="panel panel-default">
     <div class="panel-heading">公告列表</div>
            <ul id="announcement" class="list-group">

          	</ul>
</div>

 <div class="panel panel-default">
      <div class="panel-heading">最新捐赠列表</div>
 	  <div class="panel-body">
           <p>捐赠列表暂时不能时时显示,整理中,请见谅</p>
      </div>

      <!-- Table -->
      <table class="table">
           <thead>
           		<tr>
                <th>#</th>
               <th>昵称</th>
                <th>金额</th>
                </tr>
           </thead>
                        <tbody>
                            <tr>
                                <th scope="row">14</th>
                                <td>夏娃的小猪-Julius</td>
                                <td>￥10</td>
                            </tr>
                            <tr>
                                <th scope="row">13</th>
                                <td>建书</td>
                                <td>￥10</td>
                            </tr>
                            <tr>
                                <th scope="row">12</th>
                                <td>费立典</td>
                                <td>￥5</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>Ark</td>
                                <td>￥20</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>旅途旧时光</td>
                                <td>￥1</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>駼哉2016</td>
                                <td>￥11</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>呃呃</td>
                                <td>￥2</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>呃呃</td>
                                <td>￥2.61</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>mrbluer</td>
                                <td>￥6.6</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>世锦</td>
                                <td>￥2</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>freethy</td>
                                <td>￥10</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>creafsd</td>
                                <td>￥6.6</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>仓粉</td>
                                <td>￥2</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>尼玛*萨丁</td>
                                <td>￥7</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

<!-- 最底部 -->
                <div class="alert alert-success">

                    <p>维护这个站很累你知道不?</p>
                    <p>没钱续费服务器你知道不?</p>
                    <p>三更半夜写代码你知道不?</p>
                    <p>站长没有女朋友你知道不?</p>
                    <p>你知道不?</p>
                    <p>知道不?</p>
                    <p>道不?</p>
                    <p>不?</p>
                    <p>你不捐助一下么?</p>

                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
    
    $(function(){
    	
    	//如果是手机则不显示蜂巢特效
    	if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
    	} else {
    		<!-- 蜂巢特效 -->
    	    $("body").append('<script color="0,0,255" opacity="0.7" zIndex="-2" count="99" src="/js/beehive.js"><//script>')
    	}
   	 $.get("/announcement",function(data){
   		 var d = data.data;
   		 d.forEach(function(item,index){
   			 $("#announcement").append('<li class="list-group-item"><a href="#">'+item.title+'</a></li>');
   		 });
   	 });
   });
    
    function toMessage(){
    	if(QC.Login.check()){
    		window.location.href = "/message";
    	}else{
    		alert("请先登录QQ");
    	}
    }
    
    function submitAction(){
    	var videoUrl = $("#video-url").val();
    	var type = $('#type').val();
    	 $.ajax({
   	    	type: 'POST',
   	    	url : '/video/parse',
   	    	data: {"url":videoUrl,"type":type},
   			dataType: 'json',
   			success:function(data){
   				var d = data.data;
   				if(data.success){
   				  console.info(d);
   				  $('#result').text('');
   				  $("#result").append('<div class="panel-heading">视频地址列表,点击即可下载</div><ul class="list-group" id="result-music"></ul>');
   				  d.forEach(function(item, index) {
   					  var li = "<li class='list-group-item'><a href="+item.url+" download="+ item.url+">"+index +"</a></li>";
   					  $('#result-music').append(li);
                   });
   				}
   			}
    	});
    
    </script>
    
    
</body>
</html>